body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Modal */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  max-width: 400px;
  max-height: 522px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2200;
  animation: show 0.45s cubic-bezier(0, 0.1, 0.2, 1) 1;
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }}
}

.closebtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background-color 250ms ease-in;
  border-radius: 50%;
  background-color: transparent;
  z-index: 1000;
    &:hover,
     :focus {
      background-color: rgba(218, 165, 32, 0.425);      
    }
    &:active {
      background-color: goldenrod;
    }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  stroke: black;
}

/* Form */

.formContainer {
  width: 350px;
  height: 522px;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background: white;
}

.input-range {
  width: 220px;
  margin: 0;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 220px;
}

option {
  padding: 0;
}

.formBtnIcon {
  background-color: transparent;
  border: none;
  stroke: rgba(22, 22, 22, 0.5); 
  fill: transparent;  
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

/* Tasks icons */

.cardBtnIcon {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  stroke: rgba(22, 22, 22, 0.5); 
  fill: transparent;  
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    &:hover,
    &:focus {
      stroke: rgba(190, 219, 176, 1);
      transform: scale(1.1);
    }
}

.label-checkbox {
  position: relative;
  /* @include font (null, 12px, 1.7); */
  /* color: #757575; */
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  padding-left: 37px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  padding: 3px;
  border: 2px solid #307900;
  border-radius: 50%;
  fill: rgb(188, 194, 199);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 2px solid #43a005;
    fill: rgb(255, 255, 255);
  }

  .checkbox:checked ~ & {
      background-color: #479911;
      border: 1px solid transparent;
      fill: #fff;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        background-color: #337208;
        fill: rgb(184, 216, 247);
        /* stroke: rgb(240, 164, 0); */
      }
  }
}